<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965743738310-fbmeopli7org69hcqapqqi7m68umakdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965743738310-fbmeopli7org69hcqapqqi7m68umakdp</string>
	<key>API_KEY</key>
	<string>AIzaSyDMold3DNyLz9PYeWKfh-gZ8HchP9OQOyw</string>
	<key>GCM_SENDER_ID</key>
	<string>965743738310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambton.Group4-FinalProject-MAD3115W2020</string>
	<key>PROJECT_ID</key>
	<string>group4-mad3115w2020</string>
	<key>STORAGE_BUCKET</key>
	<string>group4-mad3115w2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965743738310:ios:c715efdf7dc0b88ec746c7</string>
	<key>DATABASE_URL</key>
	<string>https://group4-mad3115w2020.firebaseio.com</string>
</dict>
</plist>